<div id="gnd-contactModal" class="contact-modal">
  <div class="contact-modal-content">
    <span class="gnd-close-contact-modal">&times;</span>
      <div class="gnd-contact-form-container">
        <form class="gnd-contact-form" action="https://formspree.io/gonddobr@gmail.com" method="POST">
          <input class="gnd-contact-field"
            id="customer-contact-name" type="text" name="name"
            placeholder="Informe seu nome" required
            oninvalid="this.setCustomValidity('Por favor insira o seu nome completo')"
            oninput="setCustomValidity('')"
            title="Nome Completo">
          <input class="gnd-contact-field"
            id="customer-contact-email" type="email" name="_replyto"
            placeholder="Informe seu email" required
            oninvalid="this.setCustomValidity('Por favor insira o seu email')"
            oninput="setCustomValidity('')"
            title="Email">
          <input class="gnd-contact-field"
            id="brand-contact-name" type="text" name="Marca"
            placeholder="Sua marca" required
            oninvalid="this.setCustomValidity('Precisamos saber o nome da sua marca :)')"
            oninput="setCustomValidity('')"
            title="Nome da sua Marca">
          <input class="gnd-contact-field"
            id="contact-city" type="text" name="Cidade"
            placeholder="Cidade" required
            oninvalid="this.setCustomValidity('Em qual cidade você atua?')"
            oninput="setCustomValidity('')"
            title="Cidade em que atua">
          <div class="gnd-contact-radio">
          <span>Atua como:</span>
            <div class="gnd-contact-radio-options">
              <input type="radio"
                 id="supplier_contact_option"
                 name="occupation-contact-field"
                 value="Fabricante"
                 required
                 oninvalid="this.setCustomValidity('Precisamos dessa informação para melhor atendê-lo')"
                 oninput="setCustomValidity('')"
                 title="Selecione a área em que atua">
              <label for="supplier_contact_option">Fabricante</label>
              <input type="radio"
                id="retailer_contact_option"
                name="occupation-contact-field"
                value="Comerciante"
                required
                oninvalid="this.setCustomValidity('Precisamos dessa informação para melhor atendê-lo')"
                oninput="setCustomValidity('')"
                title="Selecione a área em que atua">
              <label for="retailer_contact_option">Comerciante</label>
            </div>
          </div>
          <textarea class="gnd-contact-textarea"
            id="contact-message" type="textarea" name="Texto"
            placeholder="Envie sua mensagem" required
            oninvalid="this.setCustomValidity('Em que podemos te ajudar?')"
            oninput="setCustomValidity('')"
            title="Como podemos te ajudar?"></textarea>
          <input class="gnd-contact-submit-btn" type="submit" value="Enviar Mensagem">
        </form>
      </div>
  </div>
</div>
