<div id="gnd-signInModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
      <div class="gnd-sign-in-form-container">
        <form class="gnd-sign-in-form" action={{ site.formspree_sign_in_url }} method="POST">
          <input class="gnd-sign-in-field"
            id="customer-name" type="text" name="name"
            placeholder="Informe seu nome" required
            oninvalid="this.setCustomValidity('Por favor insira o seu nome completo')"
            oninput="setCustomValidity('')"
            title="Nome Completo">
          <input class="gnd-sign-in-field"
            id="customer-email" type="email" name="_replyto"
            placeholder="Informe seu email" required
            oninvalid="this.setCustomValidity('Por favor insira o seu email')"
            oninput="setCustomValidity('')"
            title="Email">
          <input class="gnd-sign-in-field"
            id="brand-name" type="text" name="Marca"
            placeholder="Sua marca" required
            oninvalid="this.setCustomValidity('Precisamos saber o nome da sua marca :)')"
            oninput="setCustomValidity('')"
            title="Nome da sua Marca">
          <input class="gnd-sign-in-field"
            id="city" type="text" name="Cidade"
            placeholder="Cidade" required
            oninvalid="this.setCustomValidity('Em qual cidade você atua?')"
            oninput="setCustomValidity('')"
            title="Cidade em que atua">
          <div class="gnd-sign-in-radio">
          <span>Atua como:</span>
            <div class="gnd-sign-in-radio-options">
              <input type="radio"
                 id="supplier_option"
                 name="occupation-field"
                 value="Fabricante"
                 required
                 oninvalid="this.setCustomValidity('Precisamos dessa informação para melhor atendê-lo')"
                 oninput="setCustomValidity('')"
                 title="Selecione a área em que atua">
              <label for="supplier_option">Fabricante</label>
              <input type="radio"
                id="retailer_option"
                name="occupation-field"
                value="Comerciante"
                required
                oninvalid="this.setCustomValidity('Precisamos dessa informação para melhor atendê-lo')"
                oninput="setCustomValidity('')"
                title="Selecione a área em que atua">
              <label for="retailer_option">Comerciante</label>
            </div>
          </div>
          <input class="gnd-sign-in-submit-btn" type="submit" value="Cadastrar">
        </form>
      </div>
  </div>
</div>
