<footer id="gnd-footer">
  <div class="gnd-footer-content">
    <div class="gnd-footer-items">
      <div class="gnd-footer-item">
        <img alt="gonddo logo" class="gnd-footer-logo" src="/assets/img/gonddo_logo.png"/>
      </div>
      <div class="gnd-footer-item">
        <span class="gnd-footer-email">contato@gonddo.com.br</span>
      </div>
      <div class="gnd-footer-social-media">
        <div class="gnd-footer-social-media-item">
          <a href="https://twitter.com/gonddobr" rel="noopener noreferrer" target="_blank">
            <img class="gnd-footer-social-media-link" src="/assets/img/twitter_ico.png" alt="twitter">
          </a>
        </div>
        <div class="gnd-footer-social-media-item">
          <a href="https://www.instagram.com/gonddobr/" rel="noopener noreferrer" target="_blank">
            <img class="gnd-footer-social-media-link" src="/assets/img/instagram_ico.png" alt="instagram">
          </a>

        </div>
        <div class="gnd-footer-social-media-item">
          <a href="https://www.facebook.com/Gonddobr/" rel="noopener noreferrer" target="_blank">
            <img class="gnd-footer-social-media-link" src="/assets/img/facebook_ico.png" alt="facebook">
          </a>
        </div>
        <div class="gnd-footer-social-media-item ">
          <a href="https://api.whatsapp.com/send?phone=5511945144919" rel="noopener noreferrer" target="_blank">
            <img class="gnd-footer-social-media-link gnd-whatsapp-ico" src="/assets/img/whatsapp_ico.png" alt="whatsapp">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-footer-copyright">
    <span>&copy; 2021 Gonddo. Todos os direitos reservados.</span>
  </div>
</footer>
