<section id="gnd-retailer-inspiration">
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">store</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Amplo sortimento</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">access_time</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Melhores prazos</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">sentiment_satisfied_alt</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Compras mais simples</h3>
        </div>
      </div>
    </div>
  </div>
</section>
