<section id="gnd-retailer-inspiration">
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">store</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Amplo sortimento de cosméticos e produtos naturais</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">access_time</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Até 60 dias para pagar</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">sentiment_satisfied_alt</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Compre no atacado de forma mais simples e transparente</h3>
        </div>
      </div>
    </div>
  </div>
</section>
