<section id="gnd-retailer-inspiration">
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">trending_up</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Aumente suas vendas e expanda seu canal de distribuição de atacado</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">star</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Exponha sua marca para varejistas</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-retailer-inspiration-item">
    <div class="gnd-retailer-inspiration-container">
      <div class="gnd-retailer-inspiration-item-content">
        <i class="material-icons">attach_money</i>
        <div class="gnd-retailer-inspiration-item-title">
          <h3>Pagamento garantido</h3>
        </div>
      </div>
    </div>
  </div>
</section>
