<form class="gnd-supplier-form" accept-charset="UTF-8" action={{ site.sign_in_url }} method="POST">
  <h1>Cadastre-se e aumente suas vendas</h1>
  <input type="hidden" id="supplier_option" name="profile" value="supplier" required>
  <input class="gnd-supplier-sign-in-field"
    id="brand-name" type="text" name="brand"
    placeholder="Sua marca" required
    oninvalid="this.setCustomValidity('Precisamos saber o nome da sua marca :)')"
    oninput="setCustomValidity('')"
    title="Nome da sua Marca">
  <input class="gnd-supplier-sign-in-field"
    id="brand-site" type="text" name="brand_website"
    placeholder="Site da sua marca" required
    pattern="^(https?://)?([a-zA-Z0-9]([a-zA-ZäöüÄÖÜ0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$"
    oninvalid="this.setCustomValidity('Precisamos saber o seu site :)')"
    oninput="setCustomValidity('')"
    title="Site da Marca">
  <input class="gnd-supplier-sign-in-field"
    id="customer-name" type="text" name="name"
    placeholder="Seu nome" required
    oninvalid="this.setCustomValidity('Por favor insira o seu nome completo')"
    oninput="setCustomValidity('')"
    title="Nome Completo">
  <input class="gnd-supplier-sign-in-field"
    id="customer-email" type="email" name="email"
    placeholder="Seu email" required
    oninvalid="this.setCustomValidity('Por favor insira o seu email')"
    oninput="setCustomValidity('')"
    title="Email">
  <input class="gnd-supplier-sign-in-field"
    id="city" type="text" name="city"
    placeholder="Cidade" required
    oninvalid="this.setCustomValidity('Em qual cidade você atua?')"
    oninput="setCustomValidity('')"
    title="Cidade em que atua">

  <select class="gnd-select-input" name="supplier_category">
    <option value="" disabled selected>Selecione a categoria:</option>
    <option value="1">Cosméticos</option>
    <option value="2">Acessórios</option>
    <option value="3">Outros</option>
  </select>

  <select class="gnd-select-input" name="range_of_associated_stores">
    <option value="" disabled selected>Número de lojas parceiras:</option>
    <option value="1">de 1 a 10</option>
    <option value="2">de 11 a 20</option>
    <option value="3">de 21 a 30</option>
    <option value="4">de 31 a 40</option>
    <option value="5">de 41 a 50</option>
    <option value="6">de 51 a 100</option>
    <option value="7">de 101 a 200</option>
    <option value="8">mais de 200</option>
  </select>

  <input class="gnd-supplier-sign-in-submit-btn" type="submit" value="Cadastrar">
</form>
