<form class="gnd-supplier-form" accept-charset="UTF-8" action={{ site.sign_in_url }} method="POST">
  <h1>Cadastre-se e aumente suas vendas</h1>
        <input type="hidden" id="supplier_contact_option" name="occupation-contact-field" value="Fabricante">
        <input class="gnd-supplier-sign-in-field"
          id="brand-name" type="text" name="brand"
          placeholder="Sua marca" required
          oninvalid="this.setCustomValidity('Precisamos saber o nome da sua marca :)')"
          oninput="setCustomValidity('')"
          title="Nome da sua Marca">
        <input class="gnd-supplier-sign-in-field"
          id="brand-site" type="text" name="brand-site"
          placeholder="Site da sua marca" required
          oninvalid="this.setCustomValidity('Precisamos saber o site caso você possua um :)')"
          oninput="setCustomValidity('')"
          title="Site da Marca">
        <input class="gnd-supplier-sign-in-field"
          id="customer-name" type="text" name="name"
          placeholder="Informe seu nome" required
          oninvalid="this.setCustomValidity('Por favor insira o seu nome completo')"
          oninput="setCustomValidity('')"
          title="Nome Completo">
        <input class="gnd-supplier-sign-in-field"
          id="customer-email" type="email" name="email"
          placeholder="Informe seu email" required
          oninvalid="this.setCustomValidity('Por favor insira o seu email')"
          oninput="setCustomValidity('')"
          title="Email">
        <input class="gnd-supplier-sign-in-field"
          id="city" type="text" name="city"
          placeholder="Cidade" required
          oninvalid="this.setCustomValidity('Em qual cidade você atua?')"
          oninput="setCustomValidity('')"
          title="Cidade em que atua">
        <select>
          <option value="0">Selecione a categoria:</option>
          <option value="1">Cosméticos</option>
          <option value="2">Acessórios</option>
          <option value="3">Maquiagem</option>
        </select>

        <select>
          <option value="0">Número de lojas em que sua marca está presente</option>
          <option value="1">de 1 a 10</option>
          <option value="2">de 11 a 20</option>
          <option value="3">de 21 a 10</option>
          <option value="4">de 31 a 10</option>
          <option value="5">de 41 a 10</option>
          <option value="6">de 51 a 100</option>
          <option value="7">de 101 a 20</option>
          <option value="8">mais de 200</option>
        </select>

        <input class="gnd-supplier-sign-in-submit-btn" type="submit" value="Cadastrar">
</form>
