<div class="gnd-supplier-sign-in-form">
  <form class="gnd-supplier-form" accept-charset="UTF-8" action={{ site.sign_in_url }} method="POST">
    <h1>Cadastre-se e aumente suas vendas</h1>
          <input class="gnd-supplier-sign-in-field"
            id="brand-name" type="text" name="brand"
            placeholder="Sua marca" required
            oninvalid="this.setCustomValidity('Precisamos saber o nome da sua marca :)')"
            oninput="setCustomValidity('')"
            title="Nome da sua Marca">
          <input class="gnd-supplier-sign-in-field"
            id="brand-site" type="text" name="brand-site"
            placeholder="Site da sua marca" required
            oninvalid="this.setCustomValidity('Precisamos saber o site caso você possua um :)')"
            oninput="setCustomValidity('')"
            title="Site da Marca">
          <input class="gnd-supplier-sign-in-field"
            id="customer-name" type="text" name="name"
            placeholder="Informe seu nome" required
            oninvalid="this.setCustomValidity('Por favor insira o seu nome completo')"
            oninput="setCustomValidity('')"
            title="Nome Completo">
          <input class="gnd-supplier-sign-in-field"
            id="customer-email" type="email" name="email"
            placeholder="Informe seu email" required
            oninvalid="this.setCustomValidity('Por favor insira o seu email')"
            oninput="setCustomValidity('')"
            title="Email">
          <input class="gnd-supplier-sign-in-field"
            id="city" type="text" name="city"
            placeholder="Cidade" required
            oninvalid="this.setCustomValidity('Em qual cidade você atua?')"
            oninput="setCustomValidity('')"
            title="Cidade em que atua">
          <input class="gnd-supplier-sign-in-submit-btn" type="submit" value="Cadastrar">
  </form>
</div>


1. Nome da Marca
2. Endereço do Site da Marca
3. Seu Nome
4. Seu Sobrenome
5. E-mail
6. Categoria: [dropdown menu] a.Cosméticos b. Acessorios c. Maquiagem
7. Número de lojas em que sua marca já está presente: [dropdown menu]
  a. 1-10 b.11-20 c.21-30 d.31-40 e.41-50 f.50-100 g.101-200 h.>200
6. País de origem da marca
