<section id="gnd-supplier-inspiration">
  <div class="gnd-supplier-inspiration-item">
    <div class="gnd-supplier-inspiration-container">
      <div class="gnd-supplier-inspiration-item-content">
        <i class="material-icons">trending_up</i>
        <div class="gnd-supplier-inspiration-item-title">
          <h3>Aumente suas vendas e expanda seu canal de distribuição no atacado</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-supplier-inspiration-item">
    <div class="gnd-supplier-inspiration-container">
      <div class="gnd-supplier-inspiration-item-content">
        <i class="material-icons">star</i>
        <div class="gnd-supplier-inspiration-item-title">
          <h3>Exponha sua marca para varejistas e revendedores</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="gnd-supplier-inspiration-item">
    <div class="gnd-supplier-inspiration-container">
      <div class="gnd-supplier-inspiration-item-content">
        <i class="material-icons">attach_money</i>
        <div class="gnd-supplier-inspiration-item-title">
          <h3>Pagamento garantido em 30 dias</h3>
        </div>
      </div>
    </div>
  </div>
</section>
