$gonddo-lightest-green: #E5FCC2;
$gonddo-light-green:    #9DE0AD;
$gonddo-green:          #45ADA8;
$gonddo-blue:           #547980;
$gonddo-brown:          #594F4F;
$gonddo-dark-brown:     #362425;
$gonddo-lightest-grey:  #F8F8F8;
$gonddo-light-grey:     #e0e0e0;
$gonddo-grey:           #9E9E9E;
$gonddo-dark-grey:      #757575;

$gonddo-sans-serif: "Open Sans", Helvetica, Verdana, sans-serif;
$gonddo-serif: Lora, Georgia, "Times New Roman", serif;
$gonddo-mono: "Source Code Pro", Courier, mono;
