$gonddo-lightest-green: #E5FCC2;
$gonddo-light-green:    #9DE0AD;
$gonddo-green:          #45ADA8;
$gonddo-blue:           #547980;
$gonddo-brown:          #594F4F;
$gonddo-dark-brown:     #362425;
$gonddo-light-grey:     #F5F3F3;

$gonddo-sans-serif: Helvetica, Verdana, sans-serif;
$gonddo-serif: Georgia, "Times New Roman", serif;
$gonddo-mono: "Source Code Pro", Courier, mono;
