@import 'default_styles';

@media (max-width: 950px) {
  #gnd-how-it-works {
    margin: 2rem 0;
  }

  .gnd-hiw-content-container {
    display: flex;
    flex-direction: column;
  }

  .gnd-hiw-phrase-container {
    margin: 1rem 0 0;
  }

  .gnd-hiw-phrase {
    display: flex;
    background-color: $gonddo-blue;
    height: 24rem;
    justify-content: center;
    align-items: center;

    h1 {
      color: #fff;
      font-family: $gonddo-sans-serif;
      font-size: 2.0rem;
      font-style: italic;
      padding: 1rem;
    }
  }

  .gnd-hiw-phrase-hashtag {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1rem 0;
    font-family: $gonddo-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #212121;
  }

  .gnd-hiw-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin: 1rem;

    p {
      margin: 1rem 0;
      line-height: 2rem;
    }

    strong {
      font-size: 2rem;
    }
  }

  .gnd-hiw-footer-contact {
    display: flex;
    justify-content: center;
    align-self: center;
    min-width: 18rem;
    text-transform: uppercase;
    padding: 1rem ;
    margin: 1rem;
    background-color: #212121;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    font-family: $gonddo-serif;
    text-decoration: none;
    color: $gonddo-blue;

    &:visited {
      color: $gonddo-blue;
      text-decoration: none;
    }
  }
}

@media (min-width: 951px) {
  #gnd-how-it-works {
    margin: 2rem 0;
  }

  .gnd-hiw-content-container {
    display: flex;
    flex-direction: row;
    height: 32rem;
    width: 100%;
  }

  .gnd-hiw-phrase-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 32rem;
    max-width: 40rem;
    min-width: 32rem;
  }

  .gnd-hiw-phrase {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: $gonddo-blue;
    height: 32rem;
    min-width: 32rem;
    max-width: 40rem;

    h1 {
      margin: 0 4rem 4rem 0;
      max-width: 24rem;
      color: #fff;
      font-family: $gonddo-sans-serif;
      font-size: 2.5rem;
      font-style: italic;
    }
  }

  .gnd-hiw-description {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
    padding-left: 3rem;
    height: 32rem;
    max-width: 48rem;

    strong {
      font-size: 3rem;
    }

    p {
      margin: 1rem 0;
      line-height: 2rem;
    }
  }
  .gnd-hiw-description-article-container {
    padding-bottom: 2rem;
  }

  .gnd-hiw-phrase-hashtag {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0;
    font-family: $gonddo-serif;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #212121;
  }

  .gnd-hiw-footer-contact {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    min-width: 30rem;
    text-transform: uppercase;
    padding: 1rem ;
    background-color: #212121;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.3rem;
    font-family: $gonddo-serif;
    text-decoration: none;
    color: $gonddo-blue;

    &:visited {
      color: $gonddo-blue;
      text-decoration: none;
    }
  }
}
