#gnd-logo-section {
  max-width: 1160px;
  margin: 0 auto;
}

.gnd-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnd-logo-img {
  margin: 1.4rem 0;
  img {
    width: 8rem;
  }
}

.gnd-logo-menu {
  i {
    font-size: 36px;
  }
}

.gnd-signin-button {
  font-family: $gonddo-sans-serif;
  background-color: $gonddo-brown;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: white;
    color: $gonddo-brown;
    border: solid 1px $gonddo-brown;
  }
}
