@media (max-width: 500px) {
  .gnd-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10rem;
    width: 100%;
  }
  .gnd-logo-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .gnd-logo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 1160px) {
  #gnd-logo-section {
    max-width: 1160px;
    margin: 0 1rem;
  }

}

@media (min-width: 1160px) {
  #gnd-logo-section {
    max-width: 1160px;
    margin: 0 auto;
  }
}

.gnd-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnd-logo-img {
  margin: 1.4rem 0;
  img {
    width: 10rem;
  }
}

.gnd-logo-menu {
  i {
    font-size: 36px;
  }
}

.gnd-login-button {
  font-family: $gonddo-serif;
  color: $gonddo-brown;
  margin-right: 1.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $gonddo-green;
    transition: 0.3s;
  }
}

.gnd-signin-button {
  font-family: $gonddo-serif;
  background-color: $gonddo-brown;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2rem;
  border: solid 1px $gonddo-brown;
  transition-duration: 0.5s;
  text-decoration: none;

  &:hover {
    background-color: white;
    color: $gonddo-brown;
    border: solid 1px $gonddo-brown;
    transition-duration: 0.5s;
  }
}
