@import 'default_styles';

#gnd-our-partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
}

.gnd-carousel-container {
  width: 100%;
  max-height: 16rem;
}

.gnd-our-partners-title {
  h3 {
    font-size: 2rem;
    font-family: $gonddo-sans-serif;
    color: $gonddo-brown;
  }
}
