@import 'default_styles';

#gnd-sign-in-page-section {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: $gonddo-lightest-green;
}

.gnd-sign-in-form-container {
  display: flex;
  width: 20rem;
  height: 30rem;
  background-color: #fff;
}

.gnd-sign-in-radio-options {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 0.4rem;
}

.gnd-sign-in-submit-btn {
  font-family: $gonddo-sans-serif;
  background-color: $gonddo-brown;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  border: solid 1px $gonddo-brown;
  transition-duration: 0.5s;
  text-decoration: none;

  &:hover {
    background-color: white;
    color: $gonddo-brown;
    border: solid 1px $gonddo-brown;
    transition-duration: 0.5s;
  }
}
