@import 'default_styles';

.gnd-signin-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $gonddo-serif;

  .gnd-signin-header-shipping {
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    min-height: 3rem;
    align-items: center;
    padding-right: 2rem;
    color: $gonddo-brown;
    font-size: 1.3rem;
    font-style: italic;
    background-color: $gonddo-lightest-green;
  }

  .gnd-signin-header-link {
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    min-height: 3rem;
    padding-left: 2rem;
    align-items: center;
    font-size: 1.3rem;
    font-style: italic;
    text-decoration: underline;
    color: $gonddo-lightest-green;
    background-color: $gonddo-brown;
  }
}
