@import 'default_styles';

#gnd-values {
  background-image: url('/assets/img/gonddo_values_background_2.jpg');
  background-size: cover;
  height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 4rem 0;
}

.gnd-values-image-container {
  display: flex;
  flex-grow: 3;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.gnd-values-image {
  display: flex;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.gnd-values-gonddo-description {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 5;

}

.gnd-values-gonddo-description-title {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  font-size: 4rem;
  font-weight: 600;
  margin-left: 2rem;
  font-family: $gonddo-sans-serif;
}

.gnd-values-gonddo-description-txt {
  text-align: justify;
  line-height: 2rem;
  font-size: 1.2rem;
  font-family: $gonddo-sans-serif;

  p {
    margin: 2rem;
  }
}
