@import 'default_styles';

#gnd-values {
  height: 50rem;
  background-color: #f6fbee;
  margin: 8rem 0;
}

.gnd-values-bg {
  background-image: 'desserts_op.jpg';
  background-size:cover;
  height: 18rem;
}
