<!DOCTYPE html>
<html lang="pt-br">
  {% include head.html %}
  <body>
    <section id="gnd-supplier-sign-in">
      <div class="gnd-supplier-sign-in-portrait">
        {% include supplier_sign_in_header.html %}
        <div class="gnd-supplier-sign-in-form-container">
          {{ content }}
          {% include supplier_sign_in_form.html %}
        </div>
        <div class="gnd-supplier-sign-in-info">
          {% include supplier_sign_in_benefits.html %}

          <div class="gnd-supplier-sign-in-carousel">
            {% include carousel.html %}
          </div>
        </div>
      </div>
      </div>
    </section>
  </body>
</html>

